
@mixin transition($shadows...) {
    -moz-transition: $shadows;
    -webkit-transition: $shadows;
    transition: $shadows;
}
@mixin show-transition($index, $property:All,$duration:0.1s,$timing-function:ease-in-out) {
    @include transition($property $duration $timing-function (0.1s * $index));
}
@mixin hide-transition($index) {
    @include transition(All 0.1s ease-in-out (1-(0.1s * $index)));
}





.wrap{
    width: 80rem;
    position: fixed;  
    bottom: 0;
    z-index: 100;
    margin-left: auto;
    margin-right: auto;

    .menuItem{
        width:25%;
        float:left; 
        height: 5rem;
        color: #aaa;
        text-align: center;
        &:hover{
            color: #fff;

            .subMenuItem {
                -webkit-transform: perspective(100rem) rotateX(0deg);
            
                transform: perspective(100rem) rotateX(0deg);
                -webkit-transform-origin: bottom;
            -webkit-animation-fill-mode: forwards;

            transform-origin: bottom;
            animation-fill-mode: forwards;
               
                @for $i from 1 to 8 {
                    &:nth-child(#{$i+1}) {
                        @include show-transition($i);
                    }
                }
            }
        }

        .subMenuItem{
            position: absolute;
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;

            -webkit-transform: perspective(100rem) rotateX(-180deg);
            -webkit-transform-origin: bottom;
            -webkit-animation-fill-mode: forwards;

            transform: perspective(100rem) rotateX(-180deg);
            transform-origin: bottom;
            animation-fill-mode: forwards;

            @for $i from 1 to 8 {
                &:nth-child(#{$i+1}){
                    top: -5rem * $i;
                    opacity:1 - (0.1 * $i);
                    @include hide-transition($i);
                }
            }
        }
    }

    >.menuItem:nth-child(even){
        background-color: rgb(30, 30, 30);
        .subMenuItem{
            background-color: rgb(30, 30, 30);
        }
    }
    >.menuItem:nth-child(odd){
        background-color: rgb(100, 100, 100);
        .subMenuItem{
            background-color: rgb(100, 100, 100);
        }  
    }  
}


  

