.wrap{
    width: 80rem;
    position: fixed;  
    bottom: 0;
    z-index: 100;
    margin-left: auto;
    margin-right: auto;

    .menuItem{
        width:25%;
        float:left; 
        height: 5rem;
        color: #ddd;
        text-align: center;
        &:hover{
            color: #fff;

            .subMenuItem {
                -webkit-transform: perspective(100rem) rotateX(0deg);
            
                transform: perspective(100rem) rotateX(0deg);
               
                @for $i from 1 to 7 {
                    &:nth-child(#{$i+1}) {
                        transition:All 0.1s ease-in-out (0.1s * $i);
                        -webkit-transition:All 0.1s ease-in-out (0.1s * $i);
                        -moz-transition:All 0.1s ease-in-out (0.1s * $i);
                        -o-transition:All 0.1s ease-in-out (0.1s * $i);
                    }
                }
            }
        }

        .subMenuItem{
            position: absolute;
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;

            -webkit-transform: perspective(100rem) rotateX(-180deg);
            -webkit-transform-origin: bottom;
            -webkit-animation-fill-mode: forwards;

            transform: perspective(100rem) rotateX(-180deg);
            transform-origin: bottom;
            animation-fill-mode: forwards;

            @for $i from 1 to 7 {
                &:nth-child(#{$i+1}){
                    top: -5rem * $i;
                    opacity:1 - (0.1 * $i);
                    transition:All 0.1s ease-in-out 0.7s - (0.1s * $i);
                    -webkit-transition:All 0.1s ease-in-out 0.7s - (0.1s * $i);
                    -moz-transition:All 0.1s ease-in-out 0.7s - (0.1s * $i);
                    -o-transition:All 0.1s ease-in-out 0.7s - (0.1s * $i);
                }
            }
        }
    }

    >.menuItem:nth-child(even){
        background-color: rgb(30, 30, 30);
        .subMenuItem{
            background-color: rgb(30, 30, 30);
        }
    }
    >.menuItem:nth-child(odd){
        background-color: rgb(100, 100, 100);
        .subMenuItem{
            background-color: rgb(100, 100, 100);
        }  
    }  
}

  

