.App {
  text-align: center;
}


/* .center {
	width: 80rem;
	margin-left: auto;
  margin-right: auto;
  height: 100%;
} */

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
